Options -MultiViews

RewriteEngine on

RewriteRule "^upload$"              "upload.php"                  [L]
RewriteRule "^(\d+)$"               "view.php?id=$1"              [L]
RewriteRule "^(\d+)\.([^./]+)$"     "view.php?id=$1&extension=$2" [L]
