body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, 
        Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0em;
}

h1 {
    color: #00a651; /* Our cedar green colour */
    font-size: 150%;
    font-weight: normal;
    vertical-align: bottom;
    margin: 0;
    margin-bottom: 0.5em; 
    width: 100%;
    padding-top: 0.5em;
}

h1 a, h1 a:link, h1 a:visited {
    color: #00a651; /* Our cedar green colour */
}

h2 {
    font-size: 125%;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 100%;
    margin-bottom: 0.5em;
} 

a {
    text-decoration: none;
}

.error {
    color: red;
}

/* 
 *  Site box model 
 */ 

#page-header, #left-header, #page-main, #page-menu, #page-footer {
    vertical-align: top;
}

#page-header, #page-footer {
    width: 100%;
}

#left-header, #page-menu {
    width: 150px;
}

#page-table > tbody > tr > td {
    padding: 0;
}

#page-table {
    border-spacing: 0;
}

#page-header {
    border-bottom: 1px solid #00a651; /* Our cedar green colour */
}

#page-footer {
    border-top: 1px solid #00a651; /* Our cedar green colour */
}

#page-content, #right-header {
    width: 100%;
}

#page-footer {
    margin-top: 0.5em;
    font-size: 75%;
}


#page-menu ul, #page-footer p {
    margin-top: 0;
    padding-left: 15px;
}

#page-menu li {
    list-style-type: none;
}

@media print {
    #page-menu {
        display: none !important;
    }

    #left-header, #right-header {
        display: inline-block;
        width: auto;
    } 
}

.control:before {
    content: '[';
    padding-right: 0.3em;
}

.control:after {
    content: ']';
    padding-left: 0.3em;
}

.small.control {
    font-size: 75%;
}



/*
 * Forms 
 */

div.fieldrow, fieldset, .form-instructions {
    margin-top: 1em;
}

div.fieldrow:first-child {
    margin-top: 0em;
}

div.fieldrow > div, fieldset > div, div.fieldrow > .field, fieldset > .field {
    vertical-align: top;
    display: inline-block;
}

div.fieldrow div.fieldrow, fieldset div.fieldrow {
    display: block;
}

label, legend {
    font-weight: bold;
    display: block;
}


input[type='checkbox'], input[type='checkbox'] + label {
    vertical-align: middle;
    display: inline-block;
}

input[type='checkbox'] + label {
    margin-left: 1em;
}

fieldset {
    border: 1px solid #00a651; /* Our cedar green colour */
    margin-bottom: 0.2em;
}

.label-extra {
    font-weight: normal;
}

